@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---- Base Layer ---- */
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-gray-300;
  }

  a {
    @apply text-green-600 transition-colors;
  }
}

/* ---- Components Layer ---- */
@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg font-semibold transition-colors;
  }

  .btn-primary {
    @apply btn bg-primary text-white hover:bg-blue-700;
  }

  .card {
    @apply bg-white shadow-md rounded-2xl p-6 border border-gray-100;
  }

  .inputLabel {
    @apply capitalize text-sm font-semibold text-colorPrime;
  }
}

/* ---- Utilities Layer ---- */
@layer utilities {
  .content-auto {
    content-visibility: auto;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE & Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .container {
    width: 100%;
    max-width: 1206px;
    padding: 20px;
    margin: 0 auto;
  }

  .loader {
    pointer-events: none;
    width: 100%;
    max-width: 1.7em;
    height: 1.7em;
    border: 0.4em solid transparent;
    border-color: #eee;
    border-top-color: #424242;
    border-radius: 50%;
    animation: loadingspin 1s linear infinite;
  }

  @keyframes loadingspin {
    100% {
      transform: rotate(360deg)
    }
  }

}